{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMART-TECH</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div>
        <h2><a style="text-decoration: none; color: #232323" href="{% url 'product_list' %}">Добро пожаловать в магазин компьютерные комплектующие!</a></h2>
        {% block content %}

        {% endblock %}
    </div>

    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
</body>
</html>