<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>SMART-TECH</title>
	</head>
	<body>
		<style>
			.container {
				padding: 24px;
			}
			.container h5 {
				color: rebeccapurple;
			}
			.container .container-content {
				color: rgb(67, 67, 67);
				border-radius: 4px;
				background-color: whitesmoke;
				margin-top: 8px;
			}
		</style>
		<div class="container">
			<h5>Добро пожаловать в магазин компьютерные комплектующие!</h2>
			<div class="container-content">{% block content %} {% endblock %}</div>
		</div>
	</body>
</html>
